* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk";
}

.menu{
    width: 1440px;
    margin: 38px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 198.36px;
    
}

.menu-image{
    width: 219.54px ;
    height: 36px;
}

.menu-nav{
    display: flex;
    list-style-type: none;
    gap: 40px;
    font-size: 20px;
    font-weight: 400px;
}

.menu-nav a{
    text-decoration: none;
    color: inherit;
}

.content{

}
.hero-content{
    margin: 0px 100px 0px 100px;
}

.hero-content h1{
    align-items: center;
    font-size: 60px;
    font-weight: 700px;
    line-height: 76.56px;
}

.hero-content p{
    align-items: center;
    font-size: 20px;
    font-weight: 400px;
    line-height: 28px;
}

.hero-div{
    width: 540px;
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.hero-teste{
    
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.logotypes{
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px 0px 100px;
    gap: 96.46px;
}

